<!DOCTYPE html>
<html>
{% include head.html %}

<body>

<!-- Navigation -->
{% include navbar.html %}

<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/img/IMG_0600.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Beatrice Borbon</h1>
                        <hr class="small">
                        <span class="subheading">Writer & Researcher</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{content}}
            </div>
        </div>
    </div>

{% include footer.html %}

</body>

</html>
