<!DOCTYPE html>
<html>
{% include head.html %}

<body>

    <!-- Navigation -->
    {% include navbar.html %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/img/{{page.image}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{page.heading}}</h1>
                        <hr class="small">
                        <span class="subheading">{{page.subheading}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in site.posts %}
                <div class="post-preview">
                    <a href="{{ post.url}}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                   </a>
                   <p class="post-meta">{{post.publication_details}}</p>
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                        {% endif %}
                    
                </div>
                <hr>
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

</body>
</html>
